/*=============== Produtos ===============*/
.products__container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.products__content{
  position: relative;
  background: var(--container-color);
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
}

.products__img{
  width: 90px;
  transition: .3s;
}

.products__subtitle,
.products__price{
  display: block;
}

.products__subtitle{
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-5);
}

.products__title,
.products__price{
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.products__button{
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
}

.products__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.products__content:hover .products__img{
  transform: translateY(-.5rem);
}

.products__content:hover .products__button{
  right: 0;
}

@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .products__container{
    grid-template-columns: .8fr;
    justify-content: center;
  }
}

@media screen and (min-width: 767px){
  .products__container{
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 1001px){
  .products__container{
    gap: 3.5rem;
  }
  .products__content{
    border-radius: 1.5rem;
  }
  .products__img{
    width: 110px;
  }
  .products__title{
    font-size: var(--h3-font-size);
  }
}